.organizer-page-layout {
  background-color: #29282f;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 1410px;
    width: 100%;
  }

  &__header-wrapper {
    margin-top: 35px;
  }
}
